apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    maxUnavailable: 50% 
    maxSurge: 25%
  template:
    spec:
      containers:
      - name: web
        image: openlap-analyticsframework
        envFrom:
        - configMapRef:
            name: web
        - secretRef:
            name: web
        env:
        - name: PORT
          value: "8090"
        - name: MONGODB_PRIMARY_URI
          value: "mongodb://$(OPENLAP_OFFICIAL_OPENLAP_ANALYTICSFRAMEWORK_MONGO_SERVICE):27017/openlap_v2"
        - name: MONGODB_SECONDARY_URI
          value: "mongodb://$(LEARNINGLOCKER_MONGO_SERVICE):27017/learninglocker_v2"
        ports:
        - containerPort: 8090

        # livenessProbe:
        #   httpGet:
        #     path: /
        #     port: 8090
        #   initialDelaySeconds: 15
        #   periodSeconds: 30