apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: web
        image: openlap-analyticsframework
        envFrom:
        - configMapRef:
            name: web
        - secretRef:
            name: web
        env:
        - name: PORT
          value: "8090"
        - name: MONGODB_PRIMARY_URI
          value: "mongodb://$(OPENLAP_OFFICIAL_OPENLAP_ANALYTICSFRAMEWORK_MONGO_SERVICE):27017"
        - name: MONGODB_SECONDARY_URI
          value: "mongodb://$(LEARNINGLOCKER_MONGO_SERVICE):27017"
        - name: OPENLAP_MONGODB_DB
          value: openlap
        - name: LRS_MONGODB_DB
          value: learninglocker_v2
        ports:
        - containerPort: 8090

        # livenessProbe:
        #   httpGet:
        #     path: /
        #     port: 8090
        #   initialDelaySeconds: 15
        #   periodSeconds: 30