apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: web
        image: openlap-indicatoreditor
        envFrom:
        - configMapRef:
            name: web
        ports:
        - containerPort: 8080
          protocol: TCP
