apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    maxUnavailable: 50% 
    maxSurge: 100%
  template:
    spec:
      containers:
      - name: web
        image: openlap-indicatoreditor
        envFrom:
        - configMapRef:
            name: web
        ports:
        - containerPort: 8080
          protocol: TCP
